.divouter{
	margin: auto;
	border-radius: 5px;
	width: 80%
}

.divbutton{
	text-align: left;
	padding-bottom: 10px;
}

p{
	float: right;
	color: teal;
	font-weight: bold;
}

button{
	color: black;
	background-color: teal;
	border-color: teal;
}

button:hover{
	color: black;
	background-color: gray;
	border-color: gray;
	cursor: pointer;
}

body{
	background-color: black;
	font-size: 90%;
}

img{
	float: left;
	padding-right: 20px;
}

h1{
	color: teal;
}