.divframe {
	width: 80%;
	margin: auto;
}

p{
	color: teal;
	font-size: 24px;
	display: inline;
}

button{
	color: black;
	background-color: teal;
	border-color: teal;
	margin-bottom: 10px;
}

button:hover{
	color: black;
	background-color: gray;
	border-color: gray;
	cursor: pointer;
}

body{
	background-color: black;
	font-size: 90%;
}

img{
	float: left;
	padding-right: 20px;
}

h1{
	color: teal;
}