.divframe {
	width: 70%;
	margin: auto;
}

.divbutton{
	text-align: left;
	padding-bottom: 10px;
}

body{
	background-color: black;
	font-size: 90%;
}

h1{
	color: teal;
}

p{
	display: inline;
	color: teal;
	font-weight: bold;
}

button{
	color: black;
	background-color: teal;
	border-color: teal;
}

button:hover{
	color: black;
	background-color: gray;
	border-color: gray;
	cursor: pointer;
}

img{
	float: left;
	padding-right: 20px;
	width: 180px;
	height: 240px;
}

p{
	color: teal;
	font-size: 18px;
	display: inline;
}
