html {
  scroll-behavior: smooth;
}

body {
  font: 15px;
  background-color: black;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  border-bottom: 3px solid white;
  padding-top: 30px;
  min-height: 75px;
}

/* Add more general styles here */
footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: Lato;
}